body {
    background: #1c1b1b;
    font-size: 48px;
    text-align: center;
    color: white;
}

#titre {
    background: rgb(43, 42, 42);
}

#clock {
    background: black;
}

.AMPM {
margin : auto;
}
.clock {
    background: black;
    border: white solid;
    border-width: 2px 4px 2px 4px;
    margin-bottom: 12px;
    height: 70px;
}