body {
    background: #1c1b1b;
    font-size: 48px;
    text-align: center;
    color: white;
}

#titre {
    background: rgb(43, 42, 42);
}

#clock {
    background: black;
}

.AMPM {
margin : auto;
}
.clock {
    background: black;
    border: white solid;
    border-width: 3px;
    height: 70px;
    width: 35vh;
    margin: auto;
    margin-bottom: 2vh;
    margin-top: 2vh;
}
.supprButton {
    background: pink;
    height: 20px;
    width: 20px;
}
#divClock {
    display: flex;
    flex-direction: column;
}